[Unit]
Description=Martian Donald Trump translation bot auto-start and restarted

[Timer]
OnBootSec=10min
OnUnitActiveSec=1min 

[Install]
WantedBy=timers.target
